html * {
  box-sizing: border-box;  /* padding and margins are computed within box */
  margin: 0 0 0 0;  /* ensures body extends to full screen */

}

#outerContainer {        /* used for topnav to extend full width */
  width: 100%;       
  display: block;   /* redundant but ensures that children div are nested inside */
  text-align: center;    /* children divs are centered within outerContainer */
  background-color: blue;
  padding-bottom: 5vh;    /* sets a buffer area below the main container */
}

#topNav  {
  padding-top: 5vh;     /* pushes ul away from the top of screen */
}

#topNav ul {
  height: 100%;
  padding-bottom: 5vh;    /*pushes ul away from div below, centers ul with top padding */
}

#topNav li {
  display: inline;
}

#innerContainer {
  width: 83.33%;         /* creates the 'canvas' */
  margin: auto;          /* centers the canvas to the window */
  /* background-color: blue; */
  min-height: 100vh;     /* ensures the container at least fills the screen, independent of content available */
  padding-top: 10px;
}

#col-8 {
  width: 66.66%;     /* (100 / 12) * 8 */
  float: left;       /* ensures that the columns are not placed below each other however needs content to work */
  padding: 0 10px 0 0; /* adds gutters to the layout, not sure why but you put the padding on the right side of each column except the last */
}

.blog {
  min-height: 25vh;
  /* background-color: purple; */
  margin-bottom: 5px;
  padding: 0 5px;

}

.sidebar {
  min-height: 25vh;
  background-color: purple;
  padding: 5px 5px 5px 5px;
}

article {
  background-color: grey;
  margin: auto;
  min-height: inherit;
  padding: 5px;

   
}


#col-4 {
  width: 33.33%;
  float: left;
}
